.form {
  border: 1px solid #2aa553;
  max-width: 25em;
  min-width: 20em;
  margin: 0 auto;
}

.div {
  text-align: center;
  border: 5px solid #2aa553;
  padding: 3em;
  margin: 3em auto 0 auto;
  max-width: 40em;
  min-width: 40em;
}

a {
  color: blue;
}

button {
  background-color: transparent;
  border-radius: 2px;
  color: #3faa63;
  border: 1px solid #3faa63;
  margin: .5em;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #29662b; /* Green */
  color: white;
  cursor: pointer;
}